.trending {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 100px;
}

.trending h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}

.trending hr {
  width: 200px;
  height: 1px;
  border-radius: 10px;
  background: #252525;
}

.trending-collection {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}
